protobuf
pyserini
wandb
tqdm >=4.62.1
huggingface-hub<1.0.0,>=0.2.0
datasets
transformers
coloredlogs==14.0
jsonlines==3.1.0
numpy
openai
pandas
scikit_learn
sentence_transformers==2.2.2
tensorflow
torch
python-dotenv
tabulate
backoff